<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Fruit Juice</title>


	<!-- favicon -->
 <link rel="shortcut icon" type="image/png" href="{% static 'homepage/assets/img/favicon.png' %}">
<!-- google font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
<!-- fontawesome -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/all.min.css' %}">
<!-- bootstrap -->
<link rel="stylesheet" href="{% static 'homepage/assets/bootstrap/css/bootstrap.min.css' %}">
<!-- owl carousel -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/owl.carousel.css' %}">
<!-- magnific popup -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/magnific-popup.css' %}">
<!-- animate css -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/animate.css' %}">
<!-- mean menu css -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/meanmenu.min.css' %}">
<!-- main style -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/main.css' %}">
<!-- responsive -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/responsive.css' %}">
<!-- paginator js -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/post_paginator.css' %}">

</head>

<body>
{% block header %}
{% include 'homepage/navbar.html' %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
{% include 'homepage/footer.html' %}
{% endblock %}
	<!-- jquery -->
	<script src="{% static 'homepage/assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'homepage/assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'homepage/assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'homepage/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'homepage/assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'homepage/assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'homepage/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'homepage/assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'homepage/assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'homepage/assets/js/main.js' %}"></script>
    {% comment %}Cart Item Js{% endcomment %}
	<script src="{% static 'homepage/src/js/cart_item_line.js.js' %}"></script>


</body>


</html>
