{% extends 'homepage/base.html' %}
{% block content %}
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text">Our</span> Products</h3>
						<p>>Welcome to our fruit juice shop! We take pride in offering a range of fresh and refreshing fruit juice products. Our products are carefully selected from the finest fruits and produced with passion and top quality. Explore our collection and find your favorite flavors!.</p>
					</div>
				</div>
			</div>

			<div class="row">
			{% for product in products %}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/products/product-img-1.jpg" alt=""></a>
						</div>
						<h3>{{ product.title }}</h3>
						<p class="product-price">{{ product.price }} {{ product.currency }}</p>
						<a href="{% url 'ordering:order_list' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			{% endfor %}

			</div>

		</div>
	</div>
{% endblock %}
