{% extends 'homepage/base.html' %}
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Our Products</title>

<!-- google font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
<!-- fontawesome -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/all.min.css' %}">
<!-- bootstrap -->
<link rel="stylesheet" href="{% static 'homepage/assets/bootstrap/css/bootstrap.min.css' %}">
<!-- owl carousel -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/owl.carousel.css' %}">
<!-- magnific popup -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/magnific-popup.css' %}">
<!-- animate css -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/animate.css' %}">
<!-- mean menu css -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/meanmenu.min.css' %}">
<!-- main style -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/main.css' %}">
<!-- responsive -->
<link rel="stylesheet" href="{% static 'homepage/assets/css/responsive.css' %}">

</head>
<body>
	
	<!--PreLoader-->

    <!--PreLoader Ends-->

{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fruit Juice</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".strawberry">Fruit Juice</li>
                            <li data-filter=".berry">Mixed</li>
                            <li data-filter=".lemon">Nuts Milk</li>
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists">
				{% for product in products %}
				<div class="col-lg-4 col-md-6 text-center strawberry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'shop:products_list' %}"><img src="{{ product.images.url }}" alt=""></a>
						</div>
						<h3>{{ product.title }}</h3>
						<p class="product-price">{{ product.price }} {{ product.currency }}</p>
						<a href="{% url 'ordering:order_list' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a class="active" href="#">Prev</a></li>
							<li><a class="active" href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a class="active" href="#">3</a></li>
							<li><a class="active" href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class='pagination'>
				{% if post.has_previous %}
					<a href="?page=1" class="page-link">&lt;&lt; First</a>
					<a href="?page={{ product_list.previous_page_number }}" class="page-link">&lt; Previous</a>
				{% endif %}

				{% for num in posts.paginator.page_range %}
					{% if num == product_list.number %}
						<a href="?page={{ num }}" class="page-link current-page">{{ num }}</a>
					{% else %}
						<a href="?page={{ num }}" class="page-link">{{ num }}</a>
					{% endif %}
				{% endfor %}
				{% if posts.has_next %}
					<a href="?page={{ product_list.next_page_number }}" class="page-link">Next &gt;</a>
					<a href="?page={{ product_list.paginator.num_pages }}" class="page-link">Last &gt;&gt;</a>
				{% endif %}

		</div>
	</div>
	<!-- end products -->

{% endblock %}
	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->


	

	
	<!-- jquery -->
	<script src="{% static 'homepage/assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'homepage/assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'homepage/assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'homepage/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'homepage/assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'homepage/assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'homepage/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'homepage/assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'homepage/assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'homepage/assets/js/main.js' %}"></script>
	</div>
</body>
</html>