{% load static %}
<div>
    <section id="use-section" class="user-section d-none">
        <div class="user-info">
            <div class="user-avatar">
                <img src="{% static 'homepage/assets/img/avaters/img.png' %}" alt="User Avatar">
            </div>
            <div class="user-details">
                <h2>Tung Lam</h2>
                <p>Email: ntungnam2789@gmail.com</p>
            </div>
        </div>
        <div class="user-actions">
            <a href="#">Edit Profile</a>
            <a href="#">Change Password</a>
            <a href="#">Logout</a>
        </div>
    </section>
</div>
